@media all and (max-width: 670px) {
    header {
    height: 100px;
    width: 100%;
    }
    
    .logo{
    margin-top: -75px;
    margin-left: 0px;
    }
    
    .header-right a{
    line-height:100px;
    padding-left:50px;
    padding-right:50px;
    color:white;
    display: block;
    }
}
