@media all and (max-width: 670px) {
    header {
    height: 75px;
    width: 100%;
    }
    
    .logo{
    margin-top: 5px;
    margin-left: 0px;
    }
    
    .header-right a{
    line-height:75px;
    padding-left:40px;
    padding-right:40px;
    color:white;
    display: block;
    }
}
